<section class="teacher">
    <h2>Teacher</h2>
    <img src="/images/teacher/teacher.png" alt="teacher">
    <h2>Elena Moreva</h2>
    <ul>
        <li>6 yeards of experience in preparing students for UPE</li>
        <li>Own result of passing VNO - 197 points 2 years in a row</li>
        <li>Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary English Test)</li>
    </ul>
    <p>Graduated from the Institute of International Relations of the NAU with a degree in translator-analyst.In spare time
    takes courses from the best universities in the world on effective teaching and essay writing techniques.Completed:
    English Grammar and Essay Writing (Berkeley), English Grammar & Style (The University of Queesland), How to Write an
    Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for
    Teaching and Learning (University of Houston).</p>
    <p>Cambrige English Entry Level Certificate</p>
</section>